@model web.Models.Lobby.LobbyModel

@{
    ViewBag.Title = "Roll Through the Ages - Lobby";
}
    
<h1>Lobby</h1>
<h2>Games</h2>
<table class="games">
    <thead>
        <td>Name</td>
        <td># of Players</td>
        <td />
    </thead>
    @foreach(var game in Model.Games)
    {
        <tr>
            <td>@game.Name</td>
            <td>@game.NumberOfPlayers</td>
            <td>@Html.ActionLink("Join", "Join", "Game", new { id = game.Id }, null)</td>
        </tr>
    }
</table>