<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="/resources/styles/default.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
